{{template "base" .}}

{{define "content"}}

    <div class="container">    
        <div class="row">
            <div class="col">
                <img src="static/images/generals-quarters.png" class="img-fluid room-image mx-auto d-block" alt="Generals Quarters">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">General's Quarters </h1>
                <p>
                    This is just a static HTML page it's not matter
                    what i wrote here, But if you think about this it's
                    can be intresting so go to sleep and dream about this.
                    This is just a static HTML page it's not matter
                    what i wrote here, But if you think about this it's
                    can be intresting so go to sleep and dream about this.
                    This is just a static HTML page it's not matter
                    what i wrote here, But if you think about this it's
                    can be intresting so go to sleep and dream about this.
                    This is just a static HTML page it's not matter
                    what i wrote here, But if you think about this it's
                    can be intresting so go to sleep and dream about this.
                    This is just a static HTML page it's not matter
                    what i wrote here, But if you think about this it's
                    can be intresting so go to sleep and dream about this
                    sleep and dream about this. This is just a static HTML
                    page it's not matter what
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <a id="check-avilability-button" href="#!" class="btn btn-success">Check Avilability</a>
            </div>
        </div>
    </div>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/checkAvilability.js" data-csrf="{{.CSRFToken}}"></script>
    



{{end}}